.home-panel {
    position: relative;
    z-index: 1; /* Garante que o conteúdo esteja acima do fundo de partículas */
    background-color: rgb(55, 55, 55); /* Fundo branco semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(42, 41, 41, 0.2); /* Sombra do painel */

    padding: 20px;
    width: 80%; /* Largura do painel */
    margin-top: 40px;

}

