.home-panel {
    position: relative;
    z-index: 1; /* Garante que o conteúdo esteja acima do fundo de partículas */
    background-color: rgb(55, 55, 55); /* Fundo branco semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(42, 41, 41, 0.2); /* Sombra do painel */

    padding: 20px;
    width: 80%; /* Largura do painel */
    margin-top: 40px;

}


#linha-vertical {
    max-height: 80%;
    border-right: 3px solid rgb(231, 224, 224);
    margin-right: 20px;
}

.box {
    margin-right: 115px;
}

h1 {
    margin: 0;
    color: #fff; /* Cor do texto do título */
  }
  
  p {
    color: #ccc; /* Cor do texto do parágrafo */
  }
  
  
/* Estilos para mobile */
@media (max-width: 600px) {
    .home-panel {
        margin: 40px auto; /* Centraliza o painel horizontalmente no mobile */
        text-align: center; /* Centraliza o texto no mobile */
    }

    .box {
        margin: 0 auto; /* Centraliza a caixa de texto */
        max-width: 100%; /* Faz a caixa ocupar toda a largura disponível no mobile */
    }
}