.home-panel {
    position: relative;
    z-index: 1; /* Garante que o conteúdo esteja acima do fundo de partículas */
    background-color: rgb(55, 55, 55); /* Fundo branco semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(42, 41, 41, 0.2); /* Sombra do painel */

    padding: 20px;
    width: 80%; /* Largura do painel */
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
}

.single-color {
    color: steelblue;
}

.gradient {
    
    background-image: linear-gradient(to right, rebeccapurple, steelblue, turquoise);
    color: black;

    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

p {
    font-size: 20px;
    margin-bottom: -5px;
}
.title {
    padding-right: 2px;
}

.button{
    
    padding: 20pxpx;
    background-image: linear-gradient(to right, rebeccapurple, steelblue, turquoise);
    color:azure;
    text-underline-offset:initial;

}

.links{
    margin-top: 25px;
    
}

.perfil {
    height: 180px;
    width: 200px;
    margin-right: 35px;
    border-radius: 10px;
}