.home-panel {
    position: relative;
    z-index: 1; /* Garante que o conteúdo esteja acima do fundo de partículas */
    background-color: rgb(55, 55, 55); /* Fundo branco semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(42, 41, 41, 0.2); /* Sombra do painel */

    padding: 20px;
    width: 80%; /* Largura do painel */
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
}

.single-color {
    color: steelblue;
}

.gradient {
    /*
    background-image: linear-gradient(to right, rebeccapurple, steelblue, turquoise);
    */

    background-image: linear-gradient(to right, rgb(187, 57, 235), rgb(187, 57, 235), rgb(95, 49, 221));
    color: black;

    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

p {
    font-size: 20px;
    margin-bottom: -5px;
}
.title {
    padding-right: 2px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(to right, rgb(187, 57, 235), rgb(187, 57, 235), rgb(95, 49, 221));
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.links{
    margin-top: 25px;
    
}


.perfil {
    height: 240px;
    width: 360px;
    margin-right: 80px;
    
}

@media only screen and (max-width: 768px) {


    .home-panel {
        display: flex;
        flex-direction: column;
    }
    
    .title{
        display: flex;
        flex-direction: column;

    }

    .button {
        background-image: linear-gradient(to right, #13fd26, rgb(233, 31, 31), turquoise);
    }
    
        
    .perfil {
        
        height: 160px;
        width: 280px;
        margin-right: 80px;
        
    }
}