.home-panel {
    position: relative;
    z-index: 1; /* Garante que o conteúdo esteja acima do fundo de partículas */
    background-color: rgb(55, 55, 55); /* Fundo branco semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(42, 41, 41, 0.2); /* Sombra do painel */

    padding: 20px;
    width: 80%; /* Largura do painel */
    margin-top: 40px;

}


.itemContato {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(135deg, #b51cfb, #1be1ca);
    margin-right: 10px;
} 
 
.icon-circle svg {
    stroke: #fff;
}
  

.itemContato span {
    color:azure;
}