body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#particles canvas{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos na coluna */
  width: 100%;
  min-height: 100vh;
}

.panel {
  width: 80%;
  max-width: 1200px;
  background: #333;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.scroll-to-top {
  position: fixed;
  top: 40px;
  right: 20px;
  background-color: #393939;
  color: #fff;
  padding: 7px 7px;
  border-radius: 40px;
  border: #333;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: #6b6868;
}


/* Media Queries for Responsive Design */

/* Small devices (phones, 600 px and down) */
@media only screen and (max-width: 600px) {
  .panel {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
  }
}

/* Medium devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .panel {
    width: 100%;
    margin: 15px 0;
    padding: 20px;
  }
}

/* Large devices (desktops, 1024px and down) */
@media only screen and (max-width: 1024px) {
  .panel {
    width: 80%;
    margin: 20px 0;
    padding: 25px;
  }
}